index.html
<link rel="stylesheet" href="assets/css/bootstrap.min.css"/><link rel="stylesheet" href="assets/css/fontawesome.min.css"/><link rel="stylesheet" href="assets/css/homepage.css"/><!-- Start main_nav -->
<div class="main_nav_bar">
<nav class="navbar navbar-expand-lg navbar-light bg-light"><div class="container"><a class="navbar-brand" href="#"><span><span class="box">al. </span> KlayFB <strong>.me </strong></span></a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav ml-auto">
<li class="nav-item">
<a class="nav-link hvr-pulse-grow" href="#">Home</a>
</li>
<li class="nav-item active hvr-pulse-grow">
<a class="nav-link" href="#">About</a>
</li>
<li class="nav-item hvr-pulse-grow">
<a class="nav-link" href="#">Team</a>
</li>
<li class="nav-item hvr-pulse-grow">
<a class="nav-link" href="#">Service</a>
</li>
<li class="nav-item hvr-pulse-grow">
<a class="nav-link" href="#">Portfolio</a>
</li>
<li class="nav-item hvr-pulse-grow">
<a class="nav-link" href="#">contact</a>
</li>
<li class="nav-item hvr-pulse-grow">
<a class="nav-link hvr-radial-in" href="#"> BOOK NOW </a>
</li>
</ul></div></div>
</nav>
</div>
<!-- End main_nav --><!-- Start slide Show--><div class="slide_show">
<div class="layout"></div>
<div class="main-Carousel">
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
<div class="layout"></div>
<ol class="carousel-indicators">
<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
</ol>
<div class="carousel-inner">
<div class="carousel-item active">
<img src="assets/img/slide_1.jpg" alt="" srcset="">
<div class="carousel-caption d-none d-md-block"><h4 class="main_color">Klayfp.me</h4><h1>SmartEDU Education College</h1>
<p>With Landigoo responsive landing page template, you can promote your all hosting, domain and email services.</p>
<a href="" class="btn main_btn hvr-radial-in">Contact us</a>
<a href="" class="btn main_btn hvr-radial-in">read more</a>
</div>
</div>
<div class="carousel-item">
<img src="assets/img/slide_2.jpg" alt="" srcset="">
<div class="carousel-caption d-none d-md-block">
<h1> <span class="main_color">SmartEDU</span> Education College</h1>
<p>With Landigoo responsive landing page template, you can promote your all hosting, domain and email services.</p>
<a href="" class="btn main_btn hvr-radial-in">Contact us</a>
<a href="" class="btn main_btn hvr-radial-in">read more</a>
</div>
</div>
<div class="carousel-item">
<img src="assets/img/slide_3.jpg" alt="" srcset="">
<div class="carousel-caption d-none d-md-block">
<h1> <span class="main_color">SmartEDU</span> Education College</h1>
<p>With Landigoo responsive landing page template, you can promote your all hosting, domain and email services.</p>
<a href="" class="btn main_btn hvr-radial-in">Contact us</a>
<a href="" class="btn main_btn hvr-radial-in">read more</a>
</div>
</div>
</div>
<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
<span class="carousel-control-prev-icon hvr-wobble-horizontal" aria-hidden="true">
<i class="fa fa-angle-left"></i>
</span>
<span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
<span class="carousel-control-next-icon hvr-wobble-horizontal" aria-hidden="true">
<i class="fa fa-angle-right"></i>
</span>
<span class="sr-only">Next</span>
</a>
</div>
</div>
</div><!-- End slide Show--><!--Start Section What We Dow--><div class="section Sec-toBe text-center"><div class="container"><div class="main-head"><h2>what <span>we dow</span></h2><p class="lead">Like many other professions, professionals working in sales and marketing as well as customer services often have their own terminology. Speaking English at work in these professions requires a thorough knowledge </p></div><div class="option"><div class="row"><!--Box--><div class="col-md-4"><div class="box active"><span><i class="fab fa-android"></i></span><h4 class="title">App Development</h4><p>our trainers can integrate special English vocabulary and marketing and sales terminology</p><a class="btn second_button">Lean More </a></div></div><!--Box--><div class="col-md-4"><div class="box"><span><i class="fab fa-ioxhost"></i></span><h4 class="title">Brand Identity</h4><p>our trainers can integrate special English vocabulary and marketing and sales terminology</p><a class="btn button">Lean More </a></div></div><!--Box--><div class="col-md-4"><div class="box"><span><i class="fas fa-code"></i></span><h4 class="title">Web Development</h4><p>our trainers can integrate special English vocabulary and marketing and sales terminology</p><a class="btn button">Lean More </a></div></div><!--Box--><div class="col-md-4"><div class="box"><span><i class="fab fa-codepen"></i></span><h4 class="title">Business Strategy</h4><p>our trainers can integrate special English vocabulary and marketing and sales terminology</p><a class="btn button">Lean More </a></div></div><!--Box--><div class="col-md-4"><div class="box"><span><i class="fas fa-camera"></i></span><h4 class="title">Photography</h4><p>our trainers can integrate special English vocabulary and marketing and sales terminology</p><a class="btn button">Lean More </a></div></div><!--Box--><div class="col-md-4"><div class="box"><span><i class="fas fa-random"></i></span><h4 class="title">UX Research</h4><p>our trainers can integrate special English vocabulary and marketing and sales terminology</p><a class="btn button">Lean More </a></div></div></div></div></div></div><!--End Section What We Dow--><!--Start Section Work With US--><div class="section Sec-workUs text-center"><div class="container"><h2 class="text-light">Interest To Work With us ?</h2><a class="btn">Get In Touch</a></div></div><!--End Section Work With US--><!--Start Section resent--><div class="section Sec-resent text-center"><div class="container"><div class="main-head"><h2>RECENT <span>WORK</span></h2><p class="lead">Like many other professions, professionals working in sales and marketing as well as customer services often have their own terminology. Speaking English at work in these professions requires a thorough knowledge </p></div><div class="option"><div class="row"><div class="col-md-8 res_padding"><div class="box" style="background-image:url(assets/img/imh_2.jpg)"><div class="layout"><div class="content"><h4 class="main_color">Contextual text classes also work</h4><p class="lead">Like many other professions, professionals working in sales and marketing as well as customer services often have their own terminology. Speaking English at work in these professions requires a thorough knowledge </p><a class="btn second_button">Learn More</a></div></div></div></div><div class="col-md-4 res_padding"><div class="box" style="background-image:url(assets/img/img_1.jpg)"><div class="layout"><div class="content res_opacity"><h4 class="main_color">Contextual text</h4><p class="lead">Speaking English at work in these professions requires a thorough knowledge </p><a class="btn second_button">Learn More</a></div></div></div></div><div class="col-md-8 res_padding"><div class="box" style="background-image:url(assets/img/img_3.jpg)"><div class="layout"><div class="content res_opacity"><h4 class="main_color">classes also work</h4><p class="lead">professionals working in sales and marketing as well as customer services often have their own terminology. Speaking English at work in these professions requires a thorough knowledge </p><a class="btn second_button">Learn More</a></div></div></div></div><div class="col-md-4 res_padding"><div class="box" style="background-image:url(assets/img/img_4.jpg)"><div class="layout"><div class="content res_opacity"><h4 class="main_color">Contextual</h4><p class="lead">professionals working in sales and marketing often have their own terminology. </p><a class="btn second_button">Learn More</a></div></div></div></div></div><a href="" class="btn main_btn hvr-radial-in">SEE MORE WORK</a></div></div></div><!--End Section What We Dow--><!--Start Section Work With US--><div class="Sec-ourProject text-center"><div class="layout section"><div class="content container"><h2 class="text-light">Take it to next level <br> and see what we have done</h2><div class="row"><!--Start Box--><div class="col-md-3"><div class="box"><h3>443</h3><p>Project</p></div></div><!--Start Box--><div class="col-md-3"><div class="box"><h3>352</h3><p>satisfied clients</p></div></div><!--Start Box--><div class="col-md-3"><div class="box"><h3>806</h3><p>ongoing projects</p></div></div><!--Start Box--><div class="col-md-3"><div class="box"><h3>8957</h3><p>cups of coffee</p></div></div></div></div></div></div><!--End Section Work With US--><!--Start Section Sec-skill--><div class="section Sec-skill text-center"><div class="container"><div class="main-head"><h2>Our <span>skill</span>  </h2><p class="lead">Like many other professions, professionals working in sales and marketing as well as customer services often have their own terminology. Speaking English at work in these professions requires a thorough knowledge </p><div class="row"><div class="col-md-4"><div class="mainProjectGallery" style="background-image:url(assets/img/skill_1.jpg)"><div class="layout"><div class="content main_proj"><a class="btn second_button">Learn More</a></div></div></div></div><div class="col-md-2"><div class="ProjectGallery" style="background-image:url(assets/img/skill_2.jpg)"><div class="layout res_opacity"><div class="content"><a class="btn second_button">Learn More</a></div></div></div><div class="ProjectGallery" style="background-image:url(assets/img/skill_3.jpg);margin-top: 20px;"><div class="layout res_opacity"><div class="content"><a class="btn second_button">Learn More</a></div></div></div></div><div class="col-md-6"><div class="box"><h5>marketing</h5><div class="progress">
<div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
</div></div><div class="box"><h5>web Design</h5><div class="progress">
<div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
</div></div><div class="box"><h5>Web developer</h5><div class="progress">
<div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
</div></div></div></div></div></div></div><!--Start Section Sec-skill--><!--Start Section our team--><div class="section Sec-resent Sec-team text-center"><div class="container"><div class="main-head"><h2>Our <span>Team</span></h2><p class="lead">Like many other professions, professionals working in sales and marketing as well as customer services often have their own terminology. Speaking English at work in these professions requires a thorough knowledge </p><div class="option"><div class="row"><div class="col-md-4"><div class="box" style="background-image:url(assets/img/team_1.png)"><div class="layout"><div class="content res_opacity"><h4 class="main_color">Web Development</h4><p class="lead">Ahmed Ali Klay</p><a class="btn second_button">Learn More</a><div class="social-media-icon"><ul class="list-unstyled"><li><i class="fab fa-facebook-f"></i></li><li><i class="fab fa-twitter"></i></li><li><i class="fab fa-linkedin-in"></i></li></ul></div></div></div></div></div><div class="col-md-4"><div class="box" style="background-image:url(assets/img/team_2.jpg)"><div class="layout"><div class="content res_opacity"><h4 class="main_color">Web Design</h4><p class="lead">Klay</p><a class="btn second_button">Learn More</a><div class="social-media-icon"><ul class="list-unstyled"><li><i class="fab fa-facebook-f"></i></li><li><i class="fab fa-twitter"></i></li><li><i class="fab fa-linkedin-in"></i></li></ul></div></div></div></div></div><div class="col-md-4"><div class="box" style="background-image:url(assets/img/team_3.jpg)"><div class="layout"><div class="content res_opacity"><h4 class="main_color">Marketing</h4><p class="lead">Ahmed Ali</p><a class="btn second_button">Learn More</a><div class="social-media-icon"><ul class="list-unstyled"><li><i class="fab fa-facebook-f"></i></li><li><i class="fab fa-twitter"></i></li><li><i class="fab fa-linkedin-in"></i> </li></ul></div></div></div></div></div></div></div></div></div></div><!--End Section our team   --><!--Start Section testimonials--><div class="testimonials"><div class="section layout"><div class="container"><div class="main-head text-center"><h2 class="text-light">From Our Clients</h2></div><div id="testimonialsControls" class="carousel slide" data-ride="carousel">
<div class="carousel-inner">
<div class="carousel-item active">
<div class="carousel-caption"><div class="row"><div class="col-md-3 d-none d-md-block"><img class="d-block w-100" src="assets/img/img_1.jpg" alt="Second slide"></div><div class="col-md-9"><p> &ldquo; Well organized and easy to understand Web building tutorials with lots of examples of how to use HTML, CSS, JavaScript, SQL, PHP &rdquo;</p><h5>-Ahmed ALi</h5></div></div></div>
</div>
<div class="carousel-item">
<div class="carousel-caption"><div class="row"><div class="col-md-3 d-none d-md-block"><img class="d-block w-100" src="assets/img/img_1.jpg" alt="Second slide"></div><div class="col-md-9"><p> &ldquo; Well organized and easy to understand Web building tutorials with lots of examples of how to use HTML, CSS, JavaScript, SQL, PHP &rdquo;</p><h5>-Ahmed ALi</h5></div></div></div>
</div>
<div class="carousel-item">
<div class="carousel-caption"><div class="row"><div class="col-md-3  d-none d-md-block"><img class="d-block w-100" src="assets/img/img_1.jpg" alt="Second slide"></div><div class="col-md-9"><p> &ldquo; Well organized and easy to understand Web building tutorials with lots of examples of how to use HTML, CSS, JavaScript, SQL, PHP &rdquo;</p><h5>-Ahmed ALi</h5></div></div></div>
</div>
</div>
<a class="carousel-control-prev" href="#testimonialsControls" role="button" data-slide="prev">
<span class="carousel-control-prev-icon hvr-wobble-horizontal" aria-hidden="true">
<i class="fa fa-angle-left"></i>
</span>
<span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#testimonialsControls" role="button" data-slide="next">
<span class="carousel-control-next-icon hvr-wobble-horizontal" aria-hidden="true">
<i class="fa fa-angle-right"></i>
</span>
<span class="sr-only">Next</span>
</a>
</div></div></div></div><!--End Section testimonials--><!-- Start Latest Blog--><div class="section our_Blog Sec-toBe text-center"><div class="container"><div class="main-head"><h2>Latest <span>Blog</span></h2><p class="lead">Like many other professions, professionals working in sales and marketing as well as customer services often have their own terminology. Speaking English at work in these professions requires a thorough knowledge </p></div><div class="row"><!--Box--><div class="col-md-4 sm-12"><div class="box"><div class="card text-left">
<img class="card-img-top" src="assets/img/post_1.jpg" alt="Card image cap">
<div class="card-body">
<h5 class="card-title">Company Update News</h5><span class="date main_color">11 oc 2020 by Klay</span><p class="card-text">Cards support a wide variety of content, including images, text, list groups, links, and more. Below are examples of what’s supported.</p>
<a href="#" class="btn second_button">See More</a>
</div>
</div></div></div><!--Box--><div class="col-md-4 sm-12"><div class="box"><div class="card text-left">
<img class="card-img-top" src="assets/img/post_2.jpg" alt="Card image cap">
<div class="card-body">
<h5 class="card-title">Company Update News</h5><span class="date main_color">11 oc 2020 by Klay</span><p class="card-text">Cards support a wide variety of content, including images, text, list groups, links, and more. Below are examples of what’s supported.</p>
<a href="#" class="btn second_button">See More</a>
</div>
</div></div></div><!--Box--><div class="col-md-4 sm-12"><div class="box"><div class="card text-left">
<img class="card-img-top" src="assets/img/post_3.jpg" alt="Card image cap">
<div class="card-body">
<h5 class="card-title">Company Update News</h5><span class="date main_color">11 oc 2020 by Klay</span><p class="card-text">Cards support a wide variety of content, including images, text, list groups, links, and more. Below are examples of what’s supported.</p>
<a href="#" class="btn second_button">See More</a>
</div>
</div></div></div></div></div></div><!-- Start Latest Blog--><!-- Start Section Contact Us--><div class="section Contact-us text-center"><div class="container"><div class="main-head"><h2 class="text-light">Contact Us</h2><p class="lead text-light">Like many other professions, professionals working in sales and marketing as well as customer services often have their own terminology. Speaking English at work in these professions requires a thorough knowledge </p></div><form>
<div class="form-group">
<input type="text" class="form-control" placeholder="Name">
</div>
<div class="form-group">
<input type="email" class="form-control" placeholder="Enter email">
</div>
<div class="form-group">
<textarea class="form-control" placeholder="Enter email"></textarea>
</div>
<button type="submit" class="btn main_btn">Send Msg</button>
</form></div></div><!-- Start Section Contact Us--><!-- Start Section Copy Right--><div class="copyRight text-center"><p>copy Right By Ahmed Ali Klay 2020</p></div><!-- Start Section Copy Right--><script src="assets/js/jquery-3.3.1.min.js"></script><script src="assets/js/bootstrap.min.js"></script><script src="assets/js/all.min.js"></script>

index.pug
extends assets/layout/app

block pageContent

  // Start slide Show
  <div class="slide_show">
      <div class="layout"></div>
      <div class="main-Carousel">
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="layout"></div>
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="assets/img/slide_1.jpg" alt="" srcset="">
                  <div class="carousel-caption d-none d-md-block">
                      h4.main_color Klayfp.me
                      <h1>SmartEDU Education College</h1>
                      <p>With Landigoo responsive landing page template, you can promote your all hosting, domain and email services.</p>
                      <a href="" class="btn main_btn hvr-radial-in">Contact us</a>
                      <a href="" class="btn main_btn hvr-radial-in">read more</a>
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="assets/img/slide_2.jpg" alt="" srcset="">
                  <div class="carousel-caption d-none d-md-block">
                      <h1> <span class="main_color">SmartEDU</span> Education College</h1>
                      <p>With Landigoo responsive landing page template, you can promote your all hosting, domain and email services.</p>
                      <a href="" class="btn main_btn hvr-radial-in">Contact us</a>
                      <a href="" class="btn main_btn hvr-radial-in">read more</a>
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="assets/img/slide_3.jpg" alt="" srcset="">
                  <div class="carousel-caption d-none d-md-block">
                      <h1> <span class="main_color">SmartEDU</span> Education College</h1>
                      <p>With Landigoo responsive landing page template, you can promote your all hosting, domain and email services.</p>
                      <a href="" class="btn main_btn hvr-radial-in">Contact us</a>
                      <a href="" class="btn main_btn hvr-radial-in">read more</a>
                  </div>
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon hvr-wobble-horizontal" aria-hidden="true">
                    <i class="fa fa-angle-left"></i>
                </span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon hvr-wobble-horizontal" aria-hidden="true">
                  <i class="fa fa-angle-right"></i>
                </span>
                <span class="sr-only">Next</span>
              </a>
          </div>
      </div>
  </div>
  // End slide Show

  //Start Section What We Dow
  div(class="section Sec-toBe text-center")
    div.container
      div.main-head
        h2(class="") what #[span we dow]
        p.lead Like many other professions, professionals working in sales and marketing as well as customer services often have their own terminology. Speaking English at work in these professions requires a thorough knowledge 
      div.option
        div.row
          //Box
          div.col-md-4
            div(class="box active")
              span #[i(class="fab fa-android")]
              h4.title App Development
              p our trainers can integrate special English vocabulary and marketing and sales terminology
              a(class="btn second_button") Lean More 
          //Box
          div.col-md-4
            div.box
              span #[i(class="fab fa-ioxhost")]
              h4.title Brand Identity
              p our trainers can integrate special English vocabulary and marketing and sales terminology
              a(class="btn button") Lean More 
          //Box
          div.col-md-4
            div.box
              span #[i(class="fas fa-code")]
              h4.title Web Development
              p our trainers can integrate special English vocabulary and marketing and sales terminology
              a(class="btn button") Lean More 
          //Box
          div.col-md-4
            div.box
              span #[i(class="fab fa-codepen")]
              h4.title Business Strategy
              p our trainers can integrate special English vocabulary and marketing and sales terminology
              a(class="btn button") Lean More 
          //Box
          div.col-md-4
            div.box
              span #[i(class="fas fa-camera")]
              h4.title Photography
              p our trainers can integrate special English vocabulary and marketing and sales terminology
              a(class="btn button") Lean More 
          //Box
          div.col-md-4
            div.box
              span #[i(class="fas fa-random")]
              h4.title UX Research
              p our trainers can integrate special English vocabulary and marketing and sales terminology
              a(class="btn button") Lean More 
  //End Section What We Dow

  //Start Section Work With US
  div(class="section Sec-workUs text-center")
    div.container
      h2.text-light Interest To Work With us ?
      a.btn Get In Touch
  //End Section Work With US

  //Start Section resent
  div(class="section Sec-resent text-center")
    div.container
      div.main-head
        h2(class="") RECENT #[span WORK]
        p.lead Like many other professions, professionals working in sales and marketing as well as customer services often have their own terminology. Speaking English at work in these professions requires a thorough knowledge 
      div.option
        div.row
          div(class="col-md-8 res_padding")
            div(class="box" style="background-image:url(assets/img/imh_2.jpg)")
              .layout
                div.content
                  h4(class="main_color") Contextual text classes also work
                  p.lead Like many other professions, professionals working in sales and marketing as well as customer services often have their own terminology. Speaking English at work in these professions requires a thorough knowledge 
                  a(class="btn second_button") Learn More
          div(class="col-md-4 res_padding")
            div(class="box" style="background-image:url(assets/img/img_1.jpg)")
              .layout
                div(class="content res_opacity")
                  h4(class="main_color") Contextual text
                  p.lead Speaking English at work in these professions requires a thorough knowledge 
                  a(class="btn second_button") Learn More
          div(class="col-md-8 res_padding")
            div(class="box" style="background-image:url(assets/img/img_3.jpg)")
              .layout
                div(class="content res_opacity")
                  h4(class="main_color") classes also work
                  p.lead professionals working in sales and marketing as well as customer services often have their own terminology. Speaking English at work in these professions requires a thorough knowledge 
                  a(class="btn second_button") Learn More
          div(class="col-md-4 res_padding")
            div(class="box" style="background-image:url(assets/img/img_4.jpg)")
              .layout
                div(class="content res_opacity")
                  h4(class="main_color") Contextual
                  p.lead professionals working in sales and marketing often have their own terminology. 
                  a(class="btn second_button") Learn More
        <a href="" class="btn main_btn hvr-radial-in">SEE MORE WORK</a>
  //End Section What We Dow

  //Start Section Work With US
  div(class="Sec-ourProject text-center")
    div(class="layout section")
      div(class="content container")
        h2.text-light Take it to next level <br> and see what we have done
        div.row
          //Start Box
          div.col-md-3
            div.box
              h3 443
              p Project
          //Start Box
          div.col-md-3
            div.box
              h3 352
              p satisfied clients
          //Start Box
          div.col-md-3
            div.box
              h3 806
              p ongoing projects
          //Start Box
          div.col-md-3
            div.box
              h3 8957
              p cups of coffee
  //End Section Work With US

  //Start Section Sec-skill
  div(class="section Sec-skill text-center")
      div.container
        div.main-head
          h2(class="") Our #[span skill]  
          p.lead Like many other professions, professionals working in sales and marketing as well as customer services often have their own terminology. Speaking English at work in these professions requires a thorough knowledge 
          div.row
            div.col-md-4
              div(class="mainProjectGallery" style="background-image:url(assets/img/skill_1.jpg)")
                .layout
                  div(class="content main_proj")
                    a(class="btn second_button") Learn More

            div.col-md-2
              div(class="ProjectGallery" style="background-image:url(assets/img/skill_2.jpg)")
                div(class="layout res_opacity")
                  div(class="content")
                    a(class="btn second_button") Learn More
              div(class="ProjectGallery" style="background-image:url(assets/img/skill_3.jpg);margin-top: 20px;")
                div(class="layout res_opacity")
                  div(class="content")
                    a(class="btn second_button") Learn More

            div.col-md-6
              div.box
                h5 marketing
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                </div>
              div.box
                h5 web Design
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
                </div>
              div.box
                h5 Web developer
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                </div>
  //Start Section Sec-skill

  //Start Section our team
  div(class="section Sec-resent Sec-team text-center")
    div.container
      div.main-head
        h2(class="") Our #[span Team]
        p.lead Like many other professions, professionals working in sales and marketing as well as customer services often have their own terminology. Speaking English at work in these professions requires a thorough knowledge 
        div.option
          div.row
            div(class="col-md-4")
              div(class="box" style="background-image:url(assets/img/team_1.png)")
                .layout
                  div(class="content res_opacity")
                    h4(class="main_color") Web Development
                    p.lead Ahmed Ali Klay
                    a(class="btn second_button") Learn More
                    div.social-media-icon
                      ul.list-unstyled
                        li #[i(class="fab fa-facebook-f")]
                        li #[i(class="fab fa-twitter")]
                        li #[i(class="fab fa-linkedin-in")]
            div(class="col-md-4")
              div(class="box" style="background-image:url(assets/img/team_2.jpg)")
                .layout
                  div(class="content res_opacity")
                    h4(class="main_color") Web Design
                    p.lead Klay
                    a(class="btn second_button") Learn More
                    div.social-media-icon
                      ul.list-unstyled
                        li #[i(class="fab fa-facebook-f")]
                        li #[i(class="fab fa-twitter")]
                        li #[i(class="fab fa-linkedin-in")]
            div(class="col-md-4")
              div(class="box" style="background-image:url(assets/img/team_3.jpg)")
                .layout
                  div(class="content res_opacity")
                    h4(class="main_color") Marketing
                    p.lead Ahmed Ali
                    a(class="btn second_button") Learn More
                    div.social-media-icon
                      ul.list-unstyled
                        li #[i(class="fab fa-facebook-f")]
                        li #[i(class="fab fa-twitter")]
                        li #[i(class="fab fa-linkedin-in")] 
  //End Section our team   
  //Start Section testimonials
  div(class="testimonials")
    div(class="section layout")
      div.container
        div(class="main-head text-center")
          h2(class="text-light") From Our Clients
        <div id="testimonialsControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="carousel-caption">
                  div.row
                    div(class="col-md-3 d-none d-md-block")
                      <img class="d-block w-100" src="assets/img/img_1.jpg" alt="Second slide">
                    .col-md-9
                      <p> &ldquo; Well organized and easy to understand Web building tutorials with lots of examples of how to use HTML, CSS, JavaScript, SQL, PHP &rdquo;</p>
                      h5 -Ahmed ALi
                </div>
              </div>
              <div class="carousel-item">
                <div class="carousel-caption">
                  div.row
                    div(class="col-md-3 d-none d-md-block")
                      <img class="d-block w-100" src="assets/img/img_1.jpg" alt="Second slide">
                    .col-md-9
                      <p> &ldquo; Well organized and easy to understand Web building tutorials with lots of examples of how to use HTML, CSS, JavaScript, SQL, PHP &rdquo;</p>
                      h5 -Ahmed ALi
                </div>
              </div>
              <div class="carousel-item">
                <div class="carousel-caption">
                  div.row
                    div(class="col-md-3  d-none d-md-block")
                      <img class="d-block w-100" src="assets/img/img_1.jpg" alt="Second slide">
                    .col-md-9
                      <p> &ldquo; Well organized and easy to understand Web building tutorials with lots of examples of how to use HTML, CSS, JavaScript, SQL, PHP &rdquo;</p>
                      h5 -Ahmed ALi
                </div>
              </div>
          </div>
          <a class="carousel-control-prev" href="#testimonialsControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon hvr-wobble-horizontal" aria-hidden="true">
                <i class="fa fa-angle-left"></i>
            </span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#testimonialsControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon hvr-wobble-horizontal" aria-hidden="true">
              <i class="fa fa-angle-right"></i>
            </span>
            <span class="sr-only">Next</span>
          </a>
        </div>
  //End Section testimonials
  // Start Latest Blog
  div(class="section our_Blog Sec-toBe text-center")
    div.container
      div.main-head
        h2(class="") Latest #[span Blog]
        p.lead Like many other professions, professionals working in sales and marketing as well as customer services often have their own terminology. Speaking English at work in these professions requires a thorough knowledge 
      div.row
        //Box
        div(class="col-md-4 sm-12")
          div.box
            <div class="card text-left">
              <img class="card-img-top" src="assets/img/post_1.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Company Update News</h5>
                span(class="date main_color") 11 oc 2020 by Klay
                <p class="card-text">Cards support a wide variety of content, including images, text, list groups, links, and more. Below are examples of what’s supported.</p>
                <a href="#" class="btn second_button">See More</a>
              </div>
            </div>
        //Box
        div(class="col-md-4 sm-12")
          div.box
            <div class="card text-left">
              <img class="card-img-top" src="assets/img/post_2.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Company Update News</h5>
                span(class="date main_color") 11 oc 2020 by Klay
                <p class="card-text">Cards support a wide variety of content, including images, text, list groups, links, and more. Below are examples of what’s supported.</p>
                <a href="#" class="btn second_button">See More</a>
              </div>
            </div>
        //Box
        div(class="col-md-4 sm-12")
            div.box
              <div class="card text-left">
                <img class="card-img-top" src="assets/img/post_3.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Company Update News</h5>
                  span(class="date main_color") 11 oc 2020 by Klay
                  <p class="card-text">Cards support a wide variety of content, including images, text, list groups, links, and more. Below are examples of what’s supported.</p>
                  <a href="#" class="btn second_button">See More</a>
                </div>
              </div>
  // Start Latest Blog
  // Start Section Contact Us
  div(class="section Contact-us text-center")
    div.container
      div.main-head
        h2(class="text-light") Contact Us
        p(class="lead text-light") Like many other professions, professionals working in sales and marketing as well as customer services often have their own terminology. Speaking English at work in these professions requires a thorough knowledge 
      <form>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Name">
        </div>
        <div class="form-group">
          <input type="email" class="form-control" placeholder="Enter email">
        </div>
        <div class="form-group">
          <textarea class="form-control" placeholder="Enter email"></textarea>
        </div>
        <button type="submit" class="btn main_btn">Send Msg</button>
      </form>
  // Start Section Contact Us

  // Start Section Copy Right
  div(class="copyRight text-center")
    p copy Right By Ahmed Ali Klay 2020
  // Start Section Copy Right
